{{#if isContinuation}}

    <div class="avatar-placeholder">
    </div>
    <div class="content">
        <div class="message-timestamp">{{timeSince timestamp}}</div>
        <span class="message-content">{{{content}}}</span>
    </div>
    
{{else}}

    <div class="avatar">
        <img src="{{avatar}}" />
    </div>
    <div class="content">
        <div class="message-timestamp">{{timeSince timestamp}}</div>
        <span class="message-speaker">
            {{#if isWhisper}}
                {{speaker}}<span class="message-whisper-targets">{{getWhisperList whisperTo speaker}}</span>:
            {{else}}
                {{speaker}}:
            {{/if}}
        </span>
        {{#unless isRoll}}<span class="message-content">{{{content}}}</span>{{/unless}}
    </div>
    {{#if isRoll}}
        <div class="roll-content">{{{content}}}</div>
    {{/if}}
{{/if}}